#ModalEditar{
      width: 98% !important;
    }
	
#ModalAgregar{
     height: 700px;
      width: 98% !important;
	
    }
	
.modal-body{
    height: 700px;
    overflow-y: auto;
}
	
#Usuario.modal-body{
	height: 400px;
	overflow-y: auto;
}

#config.modal-body{
	height: 120px;
	overflow-y: auto;
}
	
   	
#logout.modal-body{
	height: 50px;
    overflow-y: auto;
}
	

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.panel-primary{
    background: #E5E5E5;
}

.nav-tabs{
		background: #E5E5E5;
		
	}

input:disabled{
color:#202020;
border: 1px solid #006699;
}


input[data-readonly] {
  pointer-events: none;
}